# Python cache
__pycache__/
*.py[cod]

# Django secret files
.env

# Database (if using SQLite)
*.sqlite3

# Virtual environments
venv/
env/

# Editor settings
.vscode/

# OS system files
.DS_Store
Thumbs.db

# Static/media (optional)
staticfiles/
media/
