# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.env

# Environment
.env
venv/
env/
*.env.*

# Django
db.sqlite3
*.pyc
*.pyo
*.pyd
staticfiles/
media/

# Node.js (Tailwind)
node_modules/
*.tgz
package-lock.json

# Tailwind output
core/static/css/output.css

# VSCode
.vscode/

# MacOS / Windows
.DS_Store
Thumbs.db

# Git
*.swp
*~
.idea/
*.bak
